/serviceone/bin
/serviceone/obj
/customertest/bin
/customertest/obj
/clientone/bin
/clientone/obj
/clienttwo/bin
/clienttwo/obj
/customerclient/bin
/customerclient/obj
/.vs
/customerone/bin
/customerone/obj
